@mixin padding($v: 2.4rem, $h: 2.4rem) {
  padding: $v $h;
}

@mixin display-flex($gap: 2.4rem, $jc: space-between) {
  display: flex;
  align-items: center;
  justify-content: $jc;
  gap: $gap;
  flex-wrap: wrap;
}

@mixin display-grid($gap: 2.4rem) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $gap;
}

@mixin centered-title($width: 80%) {
  max-width: $width;
  text-align: center;
  margin-inline: auto;
}
