@use "variables" as *;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: map-get($colors, "bg");
}
p {
  margin-bottom: 1.6rem;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  object-fit: cover;
}

pre {
  overflow: auto;
  width: 100%;
  margin-bottom: 2.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
header a {
  color: map-get($colors, "title");
}
h1 {
  margin-bottom: 2.4rem;
}

h2,
h3 {
  margin: 2.4rem auto 1.6rem;
}
