$colors: (
  "primary": #c05b4d,
  "bg": #f0f0f0,
  "fg": #fefefe,
  "body": #3a3a3a,
  "title": #2c2c2c,
  "input-bg": #f2f2f2,
  "placeholder": #999,
  "gray": #888,
);

$transition: all 0.3 ease;
$card-padding: 2.4rem;
$container-padding: 3.2rem;

$mobile: 500px;
$tablet: 768px;
$desktop: 1080px;
