$colors: (
  "primary": #c05b4d,
  "primary-dark": #c04a4c,
  "bg": #f0f0f0,
  "fg": #fefefe,
  "body": #3a3a3a,
  "title": #2c2c2c,
  "input-bg": #f2f2f2,
  "placeholder": #aaa,
  "gray": #888,
  "green": green,
  "blue": blue,
  "red": red,
  "border": #cecece,
);

$transition: all 0.3 ease;
$card-padding: 2.4rem;
$container-padding: 3.2rem;

$gutter: 2.4rem;

$small: 375px;
$mobile: 500px;
$tablet: 800px;
$laptop: 1200px;
$desktop: 1440px;
