@use "../base" as *;

.dashboard {
  @include display-flex($jc: flex-start);
  flex-wrap: nowrap;
  align-items: stretch;
  height: 100vh;
  width: 100%;
  //@include padding($gutter, $gutter);

  .side__nav {
    background: map-get($colors, "fg");
    position: relative;
    height: 100%;
    width: 24rem;
    position: relative;

    &.narrow {
      width: 8rem;
      li {
        .text {
          display: none;
        }
      }
    }

    ul {
      @include padding;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      li {
        overflow-x: hidden;
        @include display-flex($gap: 1.6rem);
        flex-wrap: nowrap;
        margin-bottom: $gutter;
      }
    }

    .dashboard__logout {
      position: absolute;
      top: 85vh;
    }
  }

  .content__wrapper {
    overflow-y: auto;
    @include display-grid;
    grid-template-columns: 1fr minmax(20rem, 28rem);
    grid-auto-rows: max-content;
    gap: 2.4rem;
    align-items: start;
    width: 100%;
    padding-right: 2.4rem;

    & > * {
      @include padding;
      background: map-get($colors, "fg");
    }

    .header {
      grid-column: 1 / 3;
      padding: 0;
      background: none;

      .hero__header {
        margin-bottom: $gutter;
        @include display-flex($jc: space-between);
        background: map-get($colors, "fg");
        @include padding;

        #toggle__bars {
          cursor: pointer;
        }

        .user__profile {
          @include display-flex;
          p {
            margin-bottom: 0;
          }
          .avatar {
            border-radius: 50%;
            width: 3.2rem;
            height: 3.2rem;
          }
        }
      }

      .charts {
        @include display-grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        .card {
          min-height: 24rem;
        }
      }

      .card {
        background: map-get($colors, "fg");
        width: 100%;
        max-width: 100%;
      }
    }

    .content {
      .top__table {
        @include display-flex;
        h2 {
          margin: 0;
          text-align: left;
        }
        margin-bottom: $gutter;
      }
      .table {
        overflow-x: auto;
        @include padding(0.8rem, 0);
        table {
          &,
          tr {
            border: none;
          }
          tr:nth-child(even) {
            background: map-get($colors, "bg");
          }
          //min-width: $tablet;
          &.articles {
            th:first-child {
              width: 15%;
            }
            th:nth-child(2) {
              width: 30%;
            }
            th:nth-child(4),
            th:nth-child(5) {
              width: 12%;
            }
          }
          th:last-child {
            width: 12rem;
          }
          td:last-child {
            border: none;

            div {
              @include display-flex($gap: $gutter);
              flex-wrap: nowrap;
              a:first-child i {
                color: map-get($colors, "green");
              }
              a:nth-child(2) i {
                color: map-get($colors, "blue");
              }
              a:last-child i {
                color: map-get($colors, "red");
              }
            }
          }
        }
      }
    }
    .recent__activities {
      h3 {
        margin-top: 0rem;
      }
      @include padding(2rem, 2rem);
    }
  }

  @media screen and (max-width: $laptop) {
    & {
      .content__wrapper {
        grid-template-columns: 1fr;

        .header {
          grid-column: 1/2;
        }
      }
    }
  }

  @media screen and (max-width: $tablet) {
    & {
      .content__wrapper {
        $gutter: 1.6rem;
        gap: $gutter;
        .content {
          .table {
            table {
              thead {
                display: none;
              }
              tbody {
                tr {
                  td {
                    @include display-flex($gap: $gutter);

                    &::before {
                      content: attr(data-label);
                      margin: 0.5em 0;
                      text-transform: uppercase;
                      font-weight: 700;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
