[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0"
pillow = "==10.1.0"
django-autoslug = "*"
django-tinymce = "*"
asgiref = "==3.7.2"
sqlparse = "==0.4.4"

[dev-packages]

[requires]
python_version = "3.11"
