@use "../base" as *;

.btn {
  display: inline-block;
  border: 1px solid transparent;
  background: none;
  cursor: pointer;
  white-space: nowrap;

  &:active {
    box-shadow: 0 0 0 2px map-get($colors, "primary");
  }

  &.btn-primary {
    &:hover {
      background: map-get($colors, "primary");
    }
  }
}
