@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Sans+Narrow&family=Playball&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: #f0f0f0;
}

p {
  margin-bottom: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  object-fit: cover;
}

pre {
  overflow: auto;
  width: 100%;
  margin-bottom: 2.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
header a {
  color: #2c2c2c;
}

h1 {
  margin-bottom: 2.4rem;
}

h2,
h3 {
  margin: 2.4rem auto 1.6rem;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  overflow: auto;
}
table caption {
  margin-bottom: 2.4rem;
}
table,
table tr,
table th,
table td {
  border: 0.1rem solid #888;
}
table td,
table th {
  padding: 0.4rem 0.8rem;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "PT Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans Narrow", sans-s;
}

h1 {
  font-size: 4rem;
  line-height: 125%;
}

h2,
h2 a {
  font-size: 3.2rem;
  line-height: 125%;
}

h3,
h3 a {
  font-size: 2.4rem;
  line-height: 125%;
}

h4,
h4 a {
  font-size: 2rem;
}

p {
  line-height: 140%;
}

small {
  font-size: 1.4rem;
}

label,
.menu {
  font-size: 1.8rem;
  line-height: 140%;
}

li,
p,
a,
b,
code,
span {
  font-size: 1.6rem;
}

input,
select {
  font-size: 1.6rem;
}

.logo {
  font-size: 4rem;
  font-family: "Playball", sans-serif;
}

i {
  font-size: 1.6rem;
}

footer a i {
  font-size: 2.4rem;
}

table {
  font-size: 1.6rem;
}
table caption {
  font-size: 3.2rem;
}
table td i {
  font-size: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-wrap: wrap;
  background: #fefefe;
}
header .hero__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1440px;
}
header .hero__nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
  flex-wrap: wrap;
}

footer {
  margin-top: auto;
  background: #fefefe;
  text-align: center;
}
footer .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  flex-wrap: wrap;
  flex-direction: column;
}
footer .icons__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
  flex-wrap: wrap;
  max-width: 144px;
  margin-inline: auto;
}
footer a {
  color: #c05b4d;
}
footer p {
  margin: 0;
}

.btn {
  display: inline-block;
  border: 0.2rem solid transparent;
  background: none;
  cursor: pointer;
  white-space: nowrap;
  trasition: all 0.3 ease;
  padding: 0.8rem 1.6rem;
}
.btn:active {
  color: 0 0 0 2px #c05b4d;
}
.btn.btn-primary {
  background: #c05b4d;
  color: #2c2c2c;
}
.btn.btn-primary:hover {
  background: none;
  color: #2c2c2c;
  border: 0.2rem solid #c05b4d;
}
.btn.btn-secondary {
  color: #2c2c2c;
  border: 0.2rem solid #c05b4d;
}
.btn.btn-secondary:hover {
  background: #c05b4d;
}
.btn.btn-tertiary {
  color: #c05b4d;
}

form {
  background: #fefefe;
  padding: 2.4rem 2.4rem;
  max-width: 768px;
}
form label {
  display: block;
  margin: 1.6rem auto 0.8rem;
}
form input {
  border: 0.2rem solid #f0f0f0;
  padding: 0.8rem 2.4rem;
}
form input::placeholder {
  color: #999;
}
form.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  flex-wrap: wrap;
  padding: 0.4rem 0.8rem;
  border: 1px solid #888;
}
form.search input {
  padding: 0.8rem 1.6rem;
  border: none;
}

.card {
  padding: 2.4rem 2.4rem;
  background: #fefefe;
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
}
.card > * {
  margin-bottom: 2.4rem;
}
.card h2 {
  max-width: 80%;
  margin-inline: auto;
  text-align: center;
}
.card a.btn {
  margin: 3.2rem 0 0 auto;
  display: block;
  width: max-content;
}
.card.category {
  max-width: 768px;
}
.card.category h1,
.card.category h4 {
  margin: 0;
  text-align: left;
}
.card.category h1 {
  margin-bottom: 2.4rem;
}
.card.category ul.content li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3.2rem;
  flex-wrap: wrap;
  margin-bottom: 1.6rem;
}
.card.category ul.content li span {
  color: #888;
}
.card.category ul.content li h4 a {
  color: #c05b4d;
  text-decoration: underline;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.4rem;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
  gap: 0;
}

footer,
header {
  width: 100%;
  padding: 2.4rem 2.4rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  flex-wrap: wrap;
  max-width: max-content;
  margin-inline: auto;
  margin-top: 2.4rem;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 2.4rem 2.4rem;
}
.container .card__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
}
.container .details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  grid-template-columns: minmax(240px, 300px) minmax(500px, 1fr) minmax(240px, 300px);
  align-items: start;
  max-widith: 768px;
}

.metadata {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  flex-wrap: wrap;
  margin: auto auto 2.4rem;
}
.metadata * {
  color: #888;
}

.separator {
  height: 0.2rem;
  background: #f0f0f0;
  margin-bottom: 2.4rem;
}

.details {
  margin-inline: auto;
}
.details .breadcrumb {
  grid-column: 2/4;
}
.details .content {
  grid-column: 2;
  background: #fefefe;
  padding: 2.4rem 2.4rem;
}
.details .content h1 {
  max-width: 80%;
  text-align: center;
  margin-inline: auto;
}
.details .content ul {
  padding-left: 2.4rem;
}
.details .content ul li {
  list-style-type: disc;
  margin: auto auto 1.6rem 2.4rem;
}
.details .content img {
  width: 100%;
  display: block;
  margin: 2.4rem 0;
}
.details .aside h3 {
  margin-top: 0rem;
}
.details .aside .author__bio {
  margin-bottom: 2.4rem;
  background: #fefefe;
  padding: 2rem 2rem;
}
.details .aside .related__posts {
  padding: 2rem 2rem;
  background: #fefefe;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  grid-template-columns: minmax(10rem, 24rem) 1fr;
  align-items: start;
  min-height: 100vh;
  width: 100%;
  padding: 2.4rem 2.4rem;
}
.dashboard .side__nav {
  background: #fefefe;
  padding: 2.4rem 2.4rem;
  position: relative;
  height: 100%;
}
.dashboard .side__nav .dashboard__logout {
  position: absolute;
  top: 85vh;
}
.dashboard .content__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  grid-template-columns: 1fr minmax(20rem, 28rem);
  grid-template-rows: max-content 1fr;
  gap: 2.4rem;
  align-items: start;
}
.dashboard .content__wrapper > * {
  padding: 2.4rem 2.4rem;
  background: #fefefe;
}
.dashboard .content__wrapper .header {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 0;
  background: none;
}
.dashboard .content__wrapper .header .card {
  background: #fefefe;
  width: 100%;
}
.dashboard .content__wrapper .content table {
  min-width: 768px;
}
.dashboard .content__wrapper .content table th:first-child {
  width: 10%;
}
.dashboard .content__wrapper .content table th:nth-child(4) {
  width: 12%;
}
.dashboard .content__wrapper .content table th:last-child {
  width: 15%;
}
.dashboard .content__wrapper .content table td:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  flex-wrap: wrap;
  gap: 1.6rem;
  flex-wrap: nowrap;
  border: none;
}
.dashboard .content__wrapper .recent__activities {
  padding: 2rem 2rem;
}
.dashboard .content__wrapper .recent__activities h3 {
  margin-top: 0rem;
}

/*# sourceMappingURL=style.css.map */
