{% extends "base.html" %}
<head></head>
{% block content %}
    <form name="article"
          class="create__article"
          method="post"
          enctype="multipart/form-data">
        <h1>Create Article</h1>
        {% csrf_token %}
        <label for="{{ form.category.id_for_label }}">Category</label>
        {% for option in form.category.choices %}<option value="{{ option }}">{{ option }}</option>{% endfor %}
        {{ form.category }}
        <small>{{ form.password1.errors }}</small>
        <label for="{{ form.topic.id_for_label }}">Topic</label>
        <input type="text"
               name="topic"
               value="{{ form.topic.value }}"
               placeholder="Article Topic" />
        <small>{{ form.email.errors }}</small>
        <label for="{{ form.body.id_for_label }}">Body</label>
        {{ form.body }}
        <small>{{ form.email.errors }}</small>
        <div class="input__group">
            <div class="inline__group">
                <label for="{{ form.posted.id_for_label }}">Posted</label>
                {{ form.posted }}
            </div>
            <div class="inline__group">
                <label for="{{ form.thumbnail.id_for_label }}">Thumbnail</label>
                {{ form.thumbnail }}
                {% comment %}<input type="file" name="file" id="file" />{% endcomment %}
            </div>
            <input type="hidden" name="thumbnail" id="thumbnail">
        </div>
        <button class="btn btn-primary">Create Article</button>
    </form>
{% endblock %}
