{% extends 'base.html' %}
{% block content %}
    {% if page_obj %}
        <div class="card__wrapper">
            {% for category in page_obj %}
                <div class="card">
                    <h2>{{ category.name }}</h2>
                    <div class="metadata">
                        <span>{{ category.updated_on.date | date:"l, M d, Y" }}</span>
                        <span>{{ category.total_post }}</span>
                    </div>
                    <div class="separator"></div>
                    <ul class="content">
                        {% for article in category.article.all %}
                            <li>
                                <a href="{{ article.get_absolute_url }}">{{ article.topic }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <a class="btn btn-tertiary" href="{{ category.get_absolute_url }}">Read More</a>
                </div>
            {% endfor %}
        </div>
        {% comment %}Pagination{% endcomment %}
        {% include 'blog/pagination.html' with page_obj=page_obj %}
    {% else %}
        <h1>No categories found!</h1>
    {% endif %}
{% endblock %}
