{% extends 'base.html' %}
{% block title %}
    {{ instance.name }}
{% endblock title %}
{% block content %}
    <div class="card category">
        <h1>{{ instance.name }}</h1>
        <div class="separator"></div>
        <ul class="content">
            {% for article in page_obj %}
                <li>
                    <span class="show_date">{{ article.updated_on.date | date:"l, M d, Y" }}</span>
                    <h4>
                        <a href="{{ article.get_absolute_url }}">{{ article.topic }}</a>
                    </h4>
                </li>
            {% endfor %}
        </ul>
        {% comment %}Pagination{% endcomment %}
        {% if page_obj.paginator.num_pages > 1 %}
            <div class="pagination">
                {% if page_obj.has_previous %}
                    {% if page_obj.previous_page_number > 1 %}<a class="btn btn-secondary" href="?page=1">1</a>{% endif %}
                    <a class="btn btn-secondary"
                       href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                {% endif %}
                <a class="btn btn-primary">{{ page_obj.number }}</a>
                {% if page_obj.has_next %}
                    <a class="btn btn-secondary"
                       href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                    {% if page_obj.paginator.num_pages > page_obj.next_page_number %}
                        <a class="btn btn-secondary"
                           href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
