{% extends 'base.html' %}
{% block content %}
    <div class="card">
        <h2>{{ instance.name }}</h2>
        <div class="metadata">
            <span>{{ instance.total_post }}</span>
        </div>
        <div class="separator"></div>
        <ul class="content">
            {% for article in page_obj %}
                <li>
                    <span class="show_date">{{ article.updated_on.date | date:"l, M d, Y" }}</span>
                    <a href="{{ article.get_absolute_url }}">{{ article.topic }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="pagination">
            {% if page_obj.has_previous %}
                {% if page_obj.previous_page_number > 1 %}<a class="btn btn-secondary" href="?page=1">1</a>{% endif %}
                <a class="btn btn-secondary"
                   href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
            <a class="btn btn-primary">{{ page_obj.number }}</a>
            {% if page_obj.has_next %}
                <a class="btn btn-secondary"
                   href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                {% if page_obj.paginator.num_pages > page_obj.next_page_number %}
                    <a class="btn btn-secondary"
                       href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
