{% extends "dashboard_base.html" %}
{% load static %}
{% block content %}
    <div class="header">
        <div class="hero__header">
          <i id='toggle__bars' data-toggler class="fa-solid fa-bars"></i>
          
        <div class="user__profile">
          <p>{{request.user.email}}</p>
          <img src="{% static 'images/profile/default.jpg' %}" class="avatar">
        </div>
      </div>
        <div class="charts">
          <div class="card">
              <i class="fa-solid fa-plus"></i>
          </div>
          <div class="card">
              <i class="fa-solid fa-plus"></i>
          </div>
        </div>
    </div>
    {% comment %}Main content{% endcomment %}
    {% if query == 'categories' %}
        <div class="content">
      <section class="top__table">
        <h2>Categories</h2>
            <a class="btn btn-primary" href="{% url 'blog:category_create' %}">
                <i class="fa-solid fa-plus"></i>
                Add Category
            </a>
      </section>
      <div class="separator"></div>
      <div class="table ">
            <table class="categories">
                <thead>
                    <tr>
                        <th>Author</th>
                        <th>Categories</th>
                        <th>Total Posts</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in page_obj %}
                        <tr>
              <td data-pk={{category.pk}} style="display:none"></td>
                            <td data-label="Author">{{ category.author }}</td>
              <td data-label="Categories" data-name={{category.name}}>{{ category.name }}</td>
                            <td data-label="Total Posts">{{ category.total_post }}</td>
                            <td data-label="Actions">
                                <div>
                                <a href="{% url 'blog:category_details' pk=category.pk %}">
                                    <i class="fa-solid fa-circle-info"></i>
                                </a>
                                <a href="{% url 'blog:category_update' pk=category.pk %}">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                  <a onClick="deleteCategoryConfirmation()">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                </div>
                            </td>
                        </tr>
                {% endfor %}
                    </tbody>
            </table>
      </div>
      {% comment %}Pagination{% endcomment %}
      {% if page_obj.paginator.num_pages > 1 %}
            <div class="pagination">
                {% if page_obj.has_previous %}
                    {% if page_obj.previous_page_number > 1 %}<a class="btn btn-secondary" href="?q=categories&page=1">1</a>{% endif %}
                    <a class="btn btn-secondary"
                       href="?q=categories&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                {% endif %}
                <a class="btn btn-primary">{{ page_obj.number }}</a>
                {% if page_obj.has_next %}
                    <a class="btn btn-secondary"
                       href="?q=categories&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                    {% if page_obj.paginator.num_pages > page_obj.next_page_number %}
                        <a class="btn btn-secondary"
                           href="?q=categories&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                    {% endif %}
                {% endif %}
            </div>
      {% endif %}
        </div>
        <div class="recent__activities">
            <h3>Latest Categories</h3>
            {% for ro in recent_obj %}
                <h4>
                    <a href="{{ ro.get_absolute_url }}">{{ ro.name }}</a>
                </h4>
            {% endfor %}
        </div>
    {% else %}
        <div class="content">
          <section class="top__table">
            <h2>Articles</h2>
            <a class="btn btn-primary" href="{% url 'blog:article_create' %}">
                <i class="fa-solid fa-plus"></i>
                Create Article
            </a>
          </section>
      <div class="table">
            <table class="articles">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Topics</th>
                        <th>Updated On</th>
                        <th>Views</th>
                        <th>Posted</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in page_obj %}
                        <tr>
                            <td data-slug={{article.slug}} style="display: none;"></td>
                            <td data-label="Category">{{ article.category.name }}</td>
              <td data-label="Topics" data-topic={{article.topic}}>{{ article.topic }}</td>
                            <td data-label="Posted On">{{ article.updated_on }}</td>
                            <td data-label="Views">{{ article.views }}</td>
                            <td data-label="Posted">{{ article.posted }}</td>
                            <td data-label="Actions">
      <div>
                                <a href="{{ article.get_absolute_url }}">
                                    <i class="fa-solid fa-circle-info"></i>
                                </a>
                                <a href="{% url 'blog:article_update' slug=article.slug %}">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                  <a onClick="deleteArticleConfirmation()">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
      </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
      </div>
      {% comment %}Pagination{% endcomment %}
      {% if page_obj.paginator.num_pages > 1 %}
            <div class="pagination">
                {% if page_obj.has_previous %}
                    {% if page_obj.previous_page_number > 1 %}<a class="btn btn-secondary" href="?q=articles&page=1">1</a>{% endif %}
                    <a class="btn btn-secondary"
                       href="?q=articles&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                {% endif %}
                <a class="btn btn-primary">{{ page_obj.number }}</a>
                {% if page_obj.has_next %}
                    <a class="btn btn-secondary"
                       href="?q=articles&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                    {% if page_obj.paginator.num_pages > page_obj.next_page_number %}
                        <a class="btn btn-secondary"
                           href="?q=categories&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                    {% endif %}
                {% endif %}
            </div>
      {% endif %}
        </div>
        <div class="recent__activities">
            <h3>Latest Articles</h3>
            {% for ro in recent_obj %}
                <h4>
                    <a href="{{ ro.get_absolute_url }}">{{ ro.topic }}</a>
                </h4>
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
