<h1>Dashboard</h1>

<a href="{% url 'blog:article_create' %}">Create Article</a>
<table>
  <tr>
    <th>id</th>
    <th>category</th>
    <th>article</th>
    <th>views</th>
    <th>actions</th>
  </tr>
  {% for article in articles %}
  <tr>
    <td>{{article.category}}</td>
    <td>{{article.topic}}</td>
    <td>{{article.views}}</td>
    <td>
      <a href="{{article.get_absolute_url}}">i</a>
      <a href="{% url 'blog:article_update' slug=article.slug %}">e</a>
      <a href="{% url 'blog:article_delete' slug=article.slug %}">-</a>
    </td>
  </tr>
  {% endfor %}
</table>
