{% extends 'base.html' %}
{% block content %}
    {% if page_obj %}
        <div class="card__wrapper">
            {% for article in page_obj %}
                <div class="card">
                    <h2>{{ article.topic }}</h2>
                    <div class="metadata">
                        <span>{{ article.updated_on.date | date:"l, M d, Y" }}</span>
                        <a href="{{ article.category.get_absolute_url }}">{{ article.category }}</a>
                        <span>{{ article.views }}</span>
                    </div>
                    <div class="separator"></div>
                    <div class="content">
                        <p>{{ article.body | striptags | truncatewords:30 }}</p>
                    </div>
                    <a class="btn btn-tertiary" href="{{ article.get_absolute_url }}">Read More</a>
                </div>
            {% endfor %}
        </div>
        {% comment %}Pagination{% endcomment %}
        {% include 'blog/pagination.html' with page_obj=page_obj %}
    {% else %}
        <h1>No article found!</h1>
    {% endif %}
{% endblock content %}
