{% extends 'base.html' %}
{% block content %}
    <a href="{% url 'blog:article_create' %}">Create Article</a>
    <form method="post">
        {% csrf_token %}
        <input type="search" placeholder="search..." name="query" />
        <button>Search</button>
    </form>
    {% if articles %}
        <h1>Home page</h1>
        {% for article in articles %}
            <div class="entry">
                <h2>
                    <a href="{{ article.get_absolute_url }}">{{ article.topic }}</a>
                </h2>
                <p>{{ article.body | truncatechars:150 | safe }}</p>
                <p>
                    <span>{{ article.updated_on }}</span> | <span>{{ article.category }}</span> |
                    <span>{{ article.views }}</span>
                </p>
            </div>
        {% endfor %}
    {% else %}
        <h1>No record found</h1>
    {% endif %}
{% endblock %}
