@use "../base" as *;

footer,
header {
  width: 100%;
  @include padding(2.4rem);
}

.pagination {
  @include display-flex(1.6rem);
  max-width: max-content;
  margin-inline: auto;
  margin-top: 2.4rem;
}

.container {
  max-width: $desktop;
  width: 100%;
  @include padding;

  .card__wrapper {
    @include display-grid;
  }

  @media screen and (max-width: $tablet) {
    $gutter: 1.6rem;
    & {
      @include padding($gutter, $gutter);
    }
  }
}

.metadata {
  @include display-flex(1.6rem, center);
  margin: auto auto 2.4rem;
  & * {
    color: map-get($colors, "gray");
  }
}

.separator {
  height: 0.2rem;
  background: map-get($colors, "bg");
  margin-bottom: 2.4rem;
}
