@use "../base" as *;

.btn {
  display: inline-block;
  border: 0.1rem solid transparent;
  background: none;
  cursor: pointer;
  white-space: nowrap;
  trasition: $transition;
  padding: 0.8rem 1.6rem;

  &:active {
    color: 0 0 0 2px map-get($colors, "primary");
  }

  &.btn-primary {
    background: map-get($colors, "primary");
    color: map-get($colors, "fg");

    &:hover {
      background: none;
      color: map-get($colors, "title");
      border: 0.1rem solid map-get($colors, "primary");
    }
  }

  &.btn-secondary {
    color: map-get($colors, "title");
    border: 0.1rem solid map-get($colors, "primary");

    &:hover {
      color: map-get($colors, "fg");
      background: map-get($colors, "primary");
    }
  }

  &.btn-tertiary {
    color: map-get($colors, "primary");
  }
}
