@use "../base" as *;

.card {
  @include padding($gutter);
  background: map-get($colors, "fg");
  max-width: $desktop;
  width: 100%;
  margin-inline: auto;
  position: relative;

  & > * {
    margin-bottom: 2.4rem;
  }

  h2 {
    max-width: 80%;
    margin-inline: auto;
    text-align: center;
  }

  a.btn {
    display: block;
    width: max-content;
    margin: 3.2rem 0 0 auto;
  }

  &.category {
    max-width: $tablet;

    h1,
    h4 {
      margin: 0;
      text-align: left;
    }
    h1 {
      margin-bottom: 2.4rem;
    }

    ul.content {
      li {
        @include display-flex($gap: 3.2rem, $jc: flex-start);
        margin-bottom: 1.6rem;

        span {
          color: map-get($colors, "gray");
        }
        h4 a {
          color: map-get($colors, "primary");
          text-decoration: underline;
        }
      }
    }
  }
}
