@use "../base" as *;

form {
  background: map-get($colors, "fg");
  @include padding;
  max-width: $tablet;

  label {
    display: block;
    margin: 1.6rem auto 0.8rem;
  }

  input {
    border: 0.2rem solid map-get($colors, "bg");
    padding: 0.8rem 2.4rem;

    &::placeholder {
      color: map-get($colors, "placeholder");
    }
  }

  &.search {
    @include display-flex(0.8rem, center);
    @include padding(0.4rem, 0.8rem);
    border: 1px solid map-get($colors, "gray");

    input {
      @include padding(0.8rem, 1.6rem);
      border: none;
    }
  }
}
