<!doctype html>
<html lang="en">
  <head>
    <title>Login Page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>
    <h1>Login Page</h1>
    <form method="post">
      {% csrf_token %}

      <div class="input-group">
        <label for="{{form.email.id_for_label}}">Email</label>
        {{form.email}}
        <small>{{form.email.errors}}</small>
      </div>
      <div class="input-group">
        <label for="{{form.password.id_for_label}}">Password</label>
        {{form.password}}
        <small>{{form.password.errors}}</small>
      </div>
      <div class="input-group">
        <input type="checkbox" name="remember" />
        <span>Remember Me</span>
        <a href="{% url 'reset_password' %}">Forgot password?</a>
      </div>

      <button>Login</button>
      <p>Don't have an account? <a href="{% url 'create_user' %}">Signup</a></p>
    </form>
  </body>
</html>
