<!doctype html>
<html lang="en">
  <head>
    <title>Reset Password</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>
    <h1>Reset Password</h1>
    <form method="post">
      {% csrf_token %}
      <div class="input-group">
        <label for="{{form.password1.id_for_label}}">Password</label>
        {{form.password1}}
        <small>{{form.password1.errors}}</small>
      </div>
      <div class="input-group">
        <label for="{{form.password2.id_for_label}}">Cofirm Password</label>
        {{form.password2}}
        <small>{{form.password2.errors}}</small>
      </div>
      <button>Reset Password</button>
    </form>
  </body>
</html>
