<!doctype html>
<html lang="en">
  <head>
    <title>Email sent</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>
    <h1>Change password</h1>
    <form method="post">
      {% csrf_token %}
      <div class="input-group">
        <label for="{{form.old_password.id_for_label}}">Old Password</label>
        {{form.old_password}}
        <small>{{form.old_password.errors}}</small>
      </div>
      <div class="input-group">
        <label for="{{form.new_password1.id_for_label}}">New Password</label>
        {{form.new_password1}}
        <small>{{form.new_password1.errors}}</small>
      </div>
      <div class="input-group">
        <label for="{{form.new_password2.id_for_label}}"
          >Confirm New Password</label
        >
        {{form.new_password2}}
        <small>{{form.new_password2.errors}}</small>
      </div>
      <button>Change password</button>
    </form>
  </body>
</html>
