{% extends 'base.html' %} {% block title %} Forgot Password {% endblock title %}
{% block content %}
<form method="post">
  {% csrf_token %}
  <h1>Email Verification</h1>
  <div class="errors">
    {% for error in form.non_field.errors %}
    <small>{{error}}</small>
    {% endfor %}
  </div>
  <p>
    Provide the email associated with your account and an email with
    verification link will be sent.
  </p>
  <label for="{{form.email.id_for_label}}">Email</label>
  <input type="email" name="email" placeholder="user@email.com" />
  <small>{{form.email.errors}}</small>
  <div class="errors">
    {% for error in form.non_field.errors %}
    <small>{{error}}</small>
    {% endfor %}
  </div>
  <button class="btn btn-primary">Send Email</button>
</form>
{% endblock content %}
