<!doctype html>
<html lang="en">
  <head>
    <title>Send verification link</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>
    <h1>Send verification link</h1>
    <form method="post">
      <p>
        Provide the email associated with your account and an email with
        verification link will be sent.
      </p>
      <div class="input-group">
        <label for="{{form.email.id_for_label}}">Email</label>
        {{form.email}}
        <small>{{form.email.errors}}</small>
      </div>
      <button>Send email</button>
    </form>
  </body>
</html>
