<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {{ form.media }}
        <title>
            {% block title %}
                Home
            {% endblock title %}
        </title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet"
              href="{% static 'highlight/styles/atom-one-dark.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
              integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>
    </head>
    <body>
        {% comment %}Header{% endcomment %}
        <header>
            <nav class="hero__nav">
                {% if user.is_authenticated %}
                    <a href="{% url 'blog:home' %}" class="logo">{{ user.username }}</a>
                {% else %}
                    <a href="{% url 'blog:home' %}" class="logo">yNotes</a>
                {% endif %}
                <div id="form_search">
                    <form class="search" method="post" action="{% url 'blog:home' %}">
                        {% csrf_token %}
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="search" placeholder="Search here" name="query" />
                    </form>
                </div>
                <ul class="header__menu">
                    <li>
                        <a class="menu" href="{% url 'blog:home' %}">Home</a>
                    </li>
                    <li>
                        <a class="menu" href="{% url 'blog:category_list' %}">Categories</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a class="menu " href="{% url 'blog:dashboard' %}">Dashboard</a>
                        </li>
                        <li>
                            <a class="menu " href="{% url 'logout_user' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a class="menu btn btn-primary" href="{% url 'blog:article_create' %}">Create Article</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="togglers">
                    <button id="form_toggle">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <div id="toggle">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
        <footer>
            <div class="content">
                <div class="icons__container">
                    <a href="http://www.github.com/minuxdev/" title="Minux dev">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="mailto:minux.midi@gmail.com" title="Minux dev">
                        <i class="fa-regular fa-envelope"></i>
                    </a>
                    <a href="http://www.github.com/minuxdev/" title="AUS Team">
                        <i class="fa-solid fa-rss"></i>
                    </a>
                </div>
                <p>
                    Powered by: <a href="#">StackTech Team</a>
                </p>
                <p class="rights">
                    © 2022 - 2024
                    <span class="divisor"></span>
                    All rights reserved.
                </p>
            </div>
        </footer>
        <script src="{%static 'scripts/header.js' %}"></script>
        <script src="{% static 'highlight/highlight.min.js' %}"></script>
        <script>hljs.highlightAll();</script>
        <script>
  firebase_config = {
    apiKey: "AIzaSyAMzmOZ79qPniWx399VJvfPmXmKIECgEJY",

    authDomain: "django-firebase-4d325.firebaseapp.com",

    databaseURL:
      "https://django-firebase-4d325-default-rtdb.asia-southeast1.firebasedatabase.app",

    projectId: "django-firebase-4d325",

    storageBucket: "django-firebase-4d325.appspot.com",

    messagingSenderId: "185167762255",

    appId: "1:185167762255:web:274990549d5de2698f2b3a",

    measurementId: "G-ZMYJKFW50E",
  };

  firebase = firebase.initializeApp(firebase_config);

  const form = document.forms["article"];
  console.log(form);
  form.addEventListener("submit", (e) => {
    e.preventDefault();
    uploader();
  });

  async function uploader() {
    const file = document.querySelector("#id_thumbnail").files[0];
    const ref = firebase.storage().ref();
    const name = `${new Date()}-${file.name}`;

    const task = await ref.child("images/" + name).put(file);
    const snapshot = await task;
    const url = await snapshot.ref.getDownloadURL();
    const el = document.querySelector("#thumbnail");
    el.value = url;
    console.log(el)
    form.submit();
  }
        </script>
    </body>
</html>
