<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% load static %}
        <link rel="stylesheet"
              href="{% static 'highlight/styles/nord.css' %}"
              {% load static %}>
    </head>
    <body>
        {% block content %}{% endblock %}
        <script src="{% static 'highlight/highlight.min.js' %}"></script>
        <script>hljs.highlightAll();</script>
    </body>
</html>
